/*ESTILO GLOBAL QUE TOMA LA PAGINA*/
*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*COLOR DE FONDO DE LA PAGINA*/
body{
    background-color:rgb(243, 214, 133);
}

/*COLOR DE FONDO DE LA SECCION DONDE ESTARA EL LOGO, IDENTIFICATIVO, OPCIONES DIRIGIENDO A CADA UNA DE LAS SECCIONES*/
.cabecera {
    background-color:black;
    padding: 10px;
}

/*ESTILO PARA EL CONTENEDOR DE LOGO*/
.logo{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap:20px;
}

/*ESTILO PARA EL TEXTO DE H1*/
.logo h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

/*ESTILO PARA EL TAMAÑO Y POSICION DEL LOGO*/
.logo img{
    position: relative;
    width: 100px;
    height: auto;
}

/*ESTILO PARA LOS ELEMENTOS DE LA ETIQUETA <nav>*/
.cabecera nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*ESTILO DE LA LISTA DESORDENADA*/
.cabecera nav ul{
    display: flex;
    gap: 3rem;
    font-weight: bold;
    padding: 10px;
    font-size: 19px;
}

/*ESTILO PARA EL ELEMENTO DE LA ETIQUETA <a>*/
.cabecera nav li a{
    text-decoration: none;
    color: white;
    padding: 12px;
}

/*EFECTO DDEL PASO DEL CURSOR POR LOS ELEMENTOS DE LA ETIQUETA <a>*/
.cabecera nav li a:hover{
    color: red;
    background:greenyellow;
    border-radius: 25px;
}

/*ESTILO PARA LOS CONTENEDORES DE TODAS LAS SECCIONES*/
.contenedor-secciones{
    padding: 20px 20px;
    margin: 10px;
    background-color: #6767ff;
    border-radius: 10px;
}

.contenedor-secciones p{
    padding: 15px 0;
}

/*ESTILO PARA LOS DIVS CON LOS INPUTS REQUERIDOS*/
.form{
    padding: 20px;
    max-width: 300px;
    margin:auto;
}

/*ESTILO PARA LOS INPUT DE INGRESO DE REQUERIMIENTOS PARA TODAS LAS SECCIONES*/
input{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

/*ESTILO PARA EL BOTON QUE ACCIONA CON UN JAVASCRIPT*/
button{
    padding: 10px;
    width: 100%;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}

/*EFECTO QUE TOMARA EL BOTON AL PASAR EL CURSOR*/
button:hover{
    background-color: chartreuse;
    color: red;
}

/*ESTILO PARA EL DIV QUE SALIDA QUE MUESTRA QUE COMPARACION SE HIZO*/
.resultado{
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-style:double;
}

/*ESTILO PARA LOS NOMBRES AGREGADOS UBICADOS EN OTRA SECCION PARA MEJOR VISUALIZACION*/
#listaNombres{
    padding: 15px;
    list-style-type: none;
}